<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" (click)="toggleMenuSidebar.emit()" role="button">
                <fa-icon [icon]="faBars" size="lg" [fixedWidth]="true"></fa-icon>
            </a>
        </li>
    </ul>

    <form class="form-inline ml-3" *ngIf="true">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Rechercher"
                aria-label="Search" />
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <fa-icon [icon]="faSearch" size="sm" [fixedWidth]="true"></fa-icon>
                </button>
            </div>
        </div>
    </form>

    <ul class="navbar-nav ml-auto">
        <fa-icon [icon]="fapoweroff" size="lg" [fixedWidth]="true" class="poweroff" (click)="deconnexion()"></fa-icon>
    </ul>
</nav>