<div class="category">
<div class="container pt-4">

    <div class="card">
      <div class="card-body">
        
          <div>
              <!-- Modal -->
              <div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="ModalClient" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">{{currentAction}} une category</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="formCategory">
                        <div class="pl-md-1 mt-3">
                          <div class=" form-group">
                            <label [class.text-danger]="formCategory.get('identifiant')?.invalid &&
                            formCategory.get('identifiant')?.touched "> Identifiant </label>
                            <input class=" form-control" formControlName="identifiant" placeholder="Identifiant" type="text" name="identifiant"
                            [class.is-invalid]="formCategory.get('identifiant')?.invalid &&
                            formCategory.get('identifiant')?.touched "/>
                          </div>
                          <small class="text-danger" [class.d-none]="formCategory.get('identifiant')?.valid ||
                          formCategory.get('identifiant')?.untouched ">Veuillez remplir le champ identifiant</small>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 mt-3">
                                <div class=" form-group">
                              <label [class.text-danger]="formCategory.get('category')?.invalid &&
                              formCategory.get('category')?.touched "> Categorie </label>
                              <input class=" form-control" placeholder="Category" type="text"name="category" required [(ngModel)]="currentCategory.category" 
                              formControlName="category" placeholder="Identifiant" type="text" name="identifiant"
                              [class.is-invalid]="formCategory.get('category')?.invalid &&
                              formCategory.get('category')?.touched "/>
                            </div>
                            <small class="text-danger" [class.d-none]="formCategory.get('category')?.valid ||
                            formCategory.get('category')?.untouched ">Veuillez renseigner une categorie</small>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <span>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancel()">Annuler</button>
                      </span>
                      <span [ngSwitch]="currentAction">
                        <span *ngSwitchCase="'Modifier'">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateCategory()">Modifier</button>
                        </span>
                        <span *ngSwitchCase="'Ajouter'">
                          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="addCategory()">Ajouter</button>
                        </span>
                        <p *ngSwitchDefault>
                        </p>
                      </span>  
                    </div>
                  </div>
                </div>
              </div>
            
              <!-- Modal Delete-->
              <div class="modal fade" id="deleteClient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Supprimer la category</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Voulez vous vraiment supprimer la category  <b>{{currentCategory.category}}</b>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCategory()">Supprimer</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="tableau">
                  <div class="t-header">
                    <h1>Categorie</h1>
                  </div>
                  <div class="card-body">
                    <div class="action">
                      <button type="button" class="btn btn-block btn-info ml-auto" data-bs-toggle="modal" data-bs-target="#clientModal" (click)="ajoutCategory()">
                        <fa-icon [icon]="FaAdd"></fa-icon> Ajouter
                      </button>
                    </div>
                    <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
                      [dtTrigger]="dtTrigger">
                      <thead>
                        <tr class="text-center">
                          <th>Type</th>
                          <th>Identifiant</th>
                          <th>Categorie</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let cat of myCategory" class="text-center">
                          <td>{{cat.type}}</td>
                          <td>{{cat.id}}</td>
                          <td>{{cat.category}}</td>
                          <td class="td-action text-center">
                            <button type="button" class="btn btn-block btn-violet" data-bs-toggle="modal" data-bs-target="#clientModal" (click)="modifierCategory(cat)">
                            <fa-icon [icon]="FaModif"></fa-icon>
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteClient" (click)="  supprimerCategory(cat)">
                            <fa-icon [icon]="FaDel"></fa-icon>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            
                </div>
              </div>
            </div>      
      </div>
    </div>
</div>
</div>