.ticket{
    padding-top: 50px;
}

.none{
    height: 80vh;
    display: flex;
    text-align: center;
    align-items: center;
    color: #646363;
}
.btn{
    padding: 10px 50px;
    border-radius: 30px;
}
