<div class="container ticket">
    <ng-container *ngIf="misy; else elseTemplate">
        <div class="header">
            <a name="" id="" class="btn btn-dark mt-3" href="#" role="button" routerLink="/">Retour</a>
        </div>
        <div class="row">
            <div class="col col-lg-6" *ngFor="let men of categories">
                <app-ticket-item [Menu]="men" ></app-ticket-item>
            </div>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="row none">
            <div class="col col-lg-12">
                <h1>Aucune Catégorie disponible</h1>
                <a name="" id="" class="btn btn-dark mt-3" href="#" role="button" routerLink="/">Retour</a>
            </div>
        </div>
        
    </ng-template>
    
</div>
