<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(assets/images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Acceder a votre caisse
                </span>
            </div>

            <form class="login100-form validate-form" [formGroup]="formCaisse" (ngSubmit)="onSubmit()">
                <div class="wrap-input100 validate-input m-b-26" [class.is-invalid]="formCaisse.get('caisse')?.invalid &&
                formCaisse.get('caisse')?.touched ">
                    <span class="label-input100">Caisse</span>
                    <input  formControlName="caisse" class="input100" type="number" name="caisse" placeholder="Entrer votre numero de caisse">
                    <span class="focus-input100" [class.is-invalid]="formCaisse.get('caisse')?.invalid &&
                    formCaisse.get('caisse')?.touched "></span>
                </div>
                <small class="is-invalid error" [class.d-none]="formCaisse.get('caisse')?.valid ||
                    formCaisse.get('caisse')?.untouched ">Veuillez entrer un numero de caisse</small>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Connexion
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>