<!-- Brand Logo -->
<a class="brand-link">
    <span class="brand-text font-weight-light">Gestion <span class="light-blue">d'attente</span></span>
</a>

<!-- Sidebar -->
<div class="sidebar sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <!-- <img
                [src]="user.picture || 'assets/img/default-profile.png'"
                    class="img-circle elevation-2"
                alt="User Image"
            /> -->
            <fa-icon [icon]="myadmin" size="lg" [fixedWidth]="true" class="img-circle"></fa-icon>
        </div>
        <div class="info">
            <a [routerLink]="['/profile']" class="d-block">
                {{type}} {{ncaisse}}
            </a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2" style="overflow-y: hidden">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <app-menu-item *ngFor="let item of menu" [menuItem]="item"></app-menu-item>
        </ul>
    </nav>
</div>