.suivi{
    color: rgb(53, 168, 235);
    margin-bottom: 0;
    font-family: Poppins-Regular;

    .number{
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            font-size: 1.8rem;
            font-weight: 500;
        }
    }

    .guichet{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
        color: red;
        .numero{
            font-size: 1.7em;
            color: rgb(117, 112, 112);
        }
    }
}