.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-color: #e6e9eb;
    
}
.app-body{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: hidden;
}

.caisse{
    font-family:Poppins-Regular;
}
.card-body{
    font-family:Poppins-Regular;
}


.my-number h1{
   font-size: 6em; 
   font-weight: 600;
   color: rgb(119, 117, 117);
   font-family:Poppins-Regular;
}
.hour{
    font-weight: 300;
    font-size: 1.5em;
}
.btn{
    padding: 10px 30px;
    border-radius: 20px;
    font-family:Poppins-Regular;

    &:hover{
        background-color: #11556b !important;
        transition: 200ms;
    }
}

.btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1985ac;
    border-color: #187da0;
}
.bg-primary-mine{
    border-color: #187da0;
    background-color: #20a8d8 ;
}
.select{
    display: flex;
    flex-direction: column;
    text-align:left ;

    label{
        font-weight: 500;
        font-size: medium;
    }
}
