<div class="d-container container">
  <div class="row">
    <app-small-box class="col-lg-4 col-6" Description="Caisse" [Valeur]="currentId"></app-small-box>
    <app-small-box class="col-lg-4 col-6" Description="Numero Actuel" [Valeur]="clients[0] ? clients[0].numero : 0" Style="bg-success"></app-small-box>
    <app-small-box class="col-lg-4 col-6" Description="Personne(s) en Attente" [Valeur]="clients.length" Style="bg-warning"></app-small-box>
    <!--apina sauter -->
    <div class="row action">
      <div class="col-12 col-sm-6 col-md-4 btn" (click)="getNextClient(1)" >
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><fa-icon [icon]="fanext" class="lg"></fa-icon></span>

          <div class="info-box-content">
            <span class="info-box-text">Suivant</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

      <div class="col-12 col-sm-6 col-md-4 btn" (click)="speak()" >
        <div class="info-box">
          <span class="info-box-icon bg-warning elevation-1">
            <fa-icon [icon]="facall" class="lg"></fa-icon>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">Rappeler</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

      <div class="col-12 col-sm-6 col-md-4 btn" (click)="updateCaisseStatus()" >
        <div class="info-box">
          <span class="info-box-icon bg-danger elevation-1">
            <ng-container *ngIf="caisseStatus; else elseTemplate">
              <fa-icon [icon]="fadeco" class="lg"></fa-icon>
            </ng-container>
            <ng-template #elseTemplate>
              <fa-icon [icon]="facon" class="lg"></fa-icon>
            </ng-template>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">{{currentFree}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
    </div>
</div>
<app-client [Clients]="clients"></app-client> 